---
layout: layouts/base.njk
---
<div class="default-wrapper">
  <article class="page block-canvas">
    <div class="block-flow">
      <h1 class="page-title">{{ title }}</h1>
      {{ content | safe }}
    </div>
  </article>
</div>
