---
permalink: /humans.txt
eleventyExcludeFromCollections: true
layout: false
---
/* TEAM */
Author: {{ site.author.name }}
Site: {{ site.url }}/
Canonical: {{ site.author.path | absoluteUrl(site.url) }}

/* SITE */
Name: {{ site.title }}
Standards: HTML, CSS, RSS, JSON Feed, Schema.org
Language: English
