<footer class="site-footer">
  <div class="site-footer-inner">
    <div class="footer-status">
      <p>A daily book of meditations by {{ site.author.name }}.</p>
    </div>
    <div class="footer-nav">
      <nav class="sub-pages" aria-label="Footer navigation">
        <a href="/colophon/" title="Colophon">Colophon</a>
        <a href="/tags/" title="Tags">Tags</a>
        <a href="/feed.xml" title="RSS">RSS</a>
      </nav>
    </div>
  </div>
</footer>
