<span class="visually-hidden">{{ site.title }}</span>
<span class="wordmark" aria-hidden="true">
  <span class="wordmark-title">Book of Brendan</span>
  <span class="wordmark-name">Ngwa Nforbi</span>
</span>
